<h1>Events</h1>
<div class="events-wrapper row">
  <% @events.each do |event| %>
    <div class="event">
      <div class="event-head">
        <div class="name">
          Juan Ortiz
          <div class="image center-block">
            <%= link_to (image_tag event.photo.url(:medium), class:'img-responsive') %>
            <%= event.caption %>
            <%= link_to event_path(event) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
